.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: black;
}

.nav-menu-items {
  text-align: end;
}

.nav-text {
  display: inline;
  margin: 10px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.nav-text a:hover {
  border-bottom: 2px solid rgba(76, 175, 80, 0.8);
}

.nav-text a.active {
  background-color: rgba(76, 175, 80, 0.8);
}
